<div class="add-todo-wrapper container has-blurred-white-bg">
  <h2 class="is-bold">New Todo</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <input
      class="textbox"
      type="text"
      placeholder="Enter new Todo...."
      name="text"
      ngModel
      required
      minlength="3"
    />
    <div class="buttons-container">
      <a routerLink="../" class="btn">Cancel</a>
      <button [disabled]="!form.valid" type="submit" class="btn">
        Create Note
      </button>
    </div>
  </form>
</div>
