.edit-todo-wrapper {
  // min-height: 100%;
  // background-color: red;
  padding: 20px;
  border-radius: 5px;
  overflow: auto;

  .textbox {
    font-size: 18px;
    font-family: inherit;
    padding: 7px 10px;
    width: 100%;
    background-color: rgba(white, 0.85);
    border: 2px solid rgba(black, 0.3);
    border-radius: 4px;
    &:hover {
      background-color: rgba(white, 0.95);
      border-color: rgba(black, 0.42);
    }
    &:focus {
      background: white;
      outline: none;
    }
  }
  .buttons-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}
input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  border: 2px solid red !important;
}
