<div class="add-bookmark-wrapper container has-blurred-white-bg">
  <h2 class="is-bold">New Bookmark</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <input
      class="textbox"
      type="text"
      placeholder="enter new name...."
      name="name"
      ngModel
      required
      minlength="3"
      #textField="ngModel"
    />
    <ng-container *ngIf="textField.invalid && textField.touched">
      <p *ngIf="textField.errors.required">Please enter some text for this input</p>
      <p *ngIf="textField.errors.minlength">Text must be more than 3 letters.</p>
    </ng-container>
    <textarea
      type="text"
      placeholder="enter new url...."
      name="url"
      ngModel
      required
    ></textarea>
    <div class="buttons-container">
      <a routerLink="../" class="btn">Cancel</a>
      <button [disabled]="!form.valid" type="submit" class="btn">
        Create Bookmark
      </button>
    </div>
  </form>
</div>
