<div class="app-wrapper">
  <img [src]="bg"
   *ngFor="let bg of backgrounds.reverse()"
    class="bg-img"
   (load)="onBGImageLoad($event)"
   @bgAnim
   >
  <div class="btn change-bg-btn" (click)="changeBGImage()" *ngIf="!showBtn" @fadeAnim>
    <i class="material-icons">refresh</i>
  </div>
  <div class="top-section">
    <h1>{{ time }}</h1>
    <h2>{{ date }}</h2>
  </div>
  <div class="content-section" [@routAnim]="preparRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <div class="bottom-section">
    <app-tabs></app-tabs>
  </div>
  <app-notification></app-notification>
</div>
