.notes-wrapper {
  height: 100%;
  // background-color: wheat;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }


  .buttons-container {
    display: flex;
    &.btn-centered {
      justify-content: center;
      align-items: center;
    }
    .add-btn {
      cursor: pointer;
      i {
        margin-right: 5px;
        margin-left: -3px;
      }
    }
  }
}
