<div class="bookmarks-wrapper">
  <div class="container">
    <div class="bookmark-tile-container">
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>
      <app-bookmark-tile></app-bookmark-tile>

      <!-- <div class="bookmark-tile">
        <img src="https://wikipedia.org/favicon.ico" alt="wiki icon" />
      </div> -->
    </div>
  </div>
</div>
