.bookmarks-wrapper {
  height: 100%;
  // background-color: wheat;
  // .container {
  //   height: 100%;
  // }
  .bookmark-tile-container {
    &::-webkit-scrollbar {
      display: none;
    }
    height: 100%;
    display: flex;
    gap: 20px;
    max-height: 300px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
  }
  .buttons-container{
    margin-top: 20px;
  }
}
.manage-btn{
  margin-left: 10px;
}
.manage-btn i {
  margin-right: 8px;
}
